@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@200&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    @include container
}
nav{
    position: fixed;
    padding: 25px 0px;
    width: 100%;
    background-color: white;
    z-index: 999;
    .list{
        display: none;
       hr{
        margin-top: 10px;
       }
        ul{
            padding: 20px 0px 20px 0px;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 35px;
            li{
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            font-weight: 800;
            transition: all .6s ;
            &:hover{
                transition: all .7s ;
                cursor: pointer;
                color: rgb(127, 211, 239);
            }
             span{
                color: rgb(127, 211, 239);
                
             }

            }
        }
    }
    .header{
        width: 100%;
        @include display-beetwen;
       
        i{
            font-size: 40px;
            display: none;
        }
        img{
            background-size: cover;
        }
        ul{
            width: 680px;
            @include display-beetwen;
            list-style: none;
            li{
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            font-weight: 800;
            transition: all .6s ;
            &:hover{
                transition: all .7s ;
                cursor: pointer;
                color: rgb(127, 211, 239);
            }
             span{
                color: rgb(127, 211, 239);
                
             }

             a{
                text-decoration: none;
                color: rgb(127, 211, 239);
             }
            button{
                width: 50px;
                padding: 7px 0px;
                background-color: #7db9e8;
                cursor: pointer;
                border-style: none;
            }
            }
        }
    }
}

.section1{
    background: url("https://preview.colorlib.com/theme/drimo/drimo/img/banner/server-banner.jpg.webp");
    background-size: cover;
    padding: 100px 0px;
    .first-item{
        width: 100%;
        @include display-center;
        flex-direction: column;
        .first{
         background-color: rgb(253, 85, 34);
         padding: 100px 0px;
         width: 540px;
         clip-path: polygon(0 45%, 100% 45%, 100% 75%, 53% 75%, 50% 84%, 48% 75%, 0% 75%);
         @include display-center;
         p{
        margin-top: 40px;
        font-family: 'Montserrat', sans-serif;
         font-weight: 700;
         color: white;
         font-size: 40px;
         }
        }
        .second{
          width: 100%;
            @include display-beetwen;
            .one{
                width: 85%;
                display: flex;
                gap: 22px;
                flex-direction: column;
                h1{
                color: white;
                font-size: 48px;
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;
                }
                h2{
                    color: white;
                    font-size: 35px;
                    font-weight: 300;
                    font-family: 'Montserrat', sans-serif;
                }
                p{
                    color: white;
                    font-weight: 600;
                    font-family: 'Montserrat', sans-serif;
                    line-height: 26px;
                }
                .small{
                    width: 380px;
                    @include display-beetwen;
                    flex-wrap: wrap;
                    gap: 20px;
                    div{
                    @include display-beetwen;
                     i{
                        color: white;
                        padding-right: 8px;
                     }
                    }
                }
                button{
                    margin-top: 20px;
                    width: 180px;
                    border-style: none;
                    padding: 13px 0px;
                    background-color:  rgb(253, 85, 34);
                    color: white;
                    font-size: 18px;
                    font-weight: 600;
                    font-family: 'Montserrat', sans-serif;
                }
            }
            .two{
                width: 700px;
                img{
                   margin-left: 120px;
                    background-size: cover;
                    width: 100%;
                }
            }
        }
    }
}
.section2{
    width: 100%;
    padding: 35px 0px;
    .second-item{
        @include display-center;
        .promise{
         width: 50%;
        text-align: center;
        @include display-center;
        flex-direction: column;
        gap: 15px;
        h1{
            color: rgb(30, 29, 29);
            font-size: 37px;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
        }
        div{
            width: 80px;
            height: 2px;
            background-color: rgb(30, 29, 29);
        }
        p{
            color: gray;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            line-height: 23px;
            font-size: 14px;
        }
        }
    }
}
main{
    padding: 50px 0px;
    .js{
        width: 100%;
       display: flex;
       justify-content: center;
        gap: 38px;
        flex-wrap: wrap;
        .js-item{
            text-align: center;
            width:22% ;
            @include display-center;
            flex-direction: column;
            gap: 10px;
            i{
                cursor: pointer;
            }
            img{
                background-size: cover;
            }
            h1{
            color: rgb(30, 29, 29);
            font-size: 18px;
            font-weight: 800;
            font-family: 'Montserrat', sans-serif;
            }
            p{
              color: gray;
                font-size: 14px;
                font-weight: 700;
                line-height: 22px;
                font-family: 'Montserrat', sans-serif;
            }
            button{
                width: 120px;
                padding: 7px 0px;
                border-radius: 5px;
                border-style: none;
                background-color:  rgb(127, 211, 239);
                font-size: 14px;
                font-weight: 800;
                font-family: 'Montserrat', sans-serif;
                cursor: pointer;
            }
        }
    }
}
.section3{
    padding: 100px 0px;
    background-color: #7db9e8;
    .thrid-item{
        @include display-center;
        gap: 50px;
        flex-direction: column;
        .item-1{
         width: 60%;
        text-align: center;
        @include display-center;
        flex-direction: column;
        gap: 15px;
        h1{
           color: white;
            font-size: 37px;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
        }
        div{
            width: 80px;
            height: 2px;
            background-color: white;
        }
        p{
            color:white;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            line-height: 23px;
            font-size: 14px;
        }
        }
        .item-2{
            width: 100%;
           @include display-beetwen;
           .font{
            width: 300px;
            @include display-center;
            gap: 18px;
            .element{
                h1{
                     color: white;
                     font-size: 29px;
                     font-weight: 200;
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                 }
                 p{
                    font-size: 18px;
                     color:white;
                     font-weight: 900;
                     font-family: 'Montserrat', sans-serif;
                     line-height: 23px;
                 }
            }
            .size{
                background: rgba(255, 255, 255, 0.5);
                border-radius: 50%;
                width: 60px;
                height: 60px;
                @include display-center;
              
                .size-1{
                    @include display-center;
                    border-radius: 50%;
                   width: 50px;
                   height: 50px;
                   background-color: white;
                   i{
                    font-size: 40px;
                    color: #7db9e8;
                   }
                }
            }
           }
        }
    }
}
.section4{
    width: 100%;
    padding: 35px 0px;
    .second-item{
        @include display-center;
        .promise{
         width: 50%;
        text-align: center;
        @include display-center;
        flex-direction: column;
        gap: 15px;
        h1{
            color: rgb(30, 29, 29);
            font-size: 37px;
            font-weight: 500;
            font-family: 'Montserrat', sans-serif;
        }
        div{
            width: 80px;
            height: 2px;
            background-color: rgb(30, 29, 29);
        }
        p{
            color: gray;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            line-height: 23px;
            font-size: 14px;
        }
        }
    }
}
.section5{
  
    padding: 20px 0px;
    width: 100%;
    .end{
        width: 100%;
        @include display-beetwen;
        .finish{
            width: 31.5%;
            border: 1px solid rgb(222, 222, 222);
            @include display-center;
            flex-direction: column;
            gap: 20px;
            .img{
                width: 100%;
                img{
                    width: 100%;
                    background-size: cover;
                }
            }
        }
        .end-1{
            width: 90%;
            padding: 15px 0px 43px 0px;
           div{
            display: flex;
            flex-direction: column;
            gap: 10px;
            h1{
                color: rgb(30, 29, 29);
                font-size: 20px;
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;
            }
            p{
                color: gray;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
                line-height: 23px;
                font-size: 15px;
            }
           }
           
        }
    }
}
footer{
    padding: 50px 0px;
    background-color: rgb(239, 239, 252);
    .footer-1{
        width: 100%;
        @include display-center;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        div{
            width: 100%;
            height: 1px;
            background-color: rgb(205, 205, 205);
        }
        p{
            color: rgb(82, 81, 81);
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            line-height: 23px;
            font-size: 16px;
            span{
                color: #7db9e8;
                cursor: pointer;
            }
        }
    }
}

.number{
    padding: 30px 0px;
    .rob{
        @include display-center;
        .mean{
            margin-top: 20px;
            width: 180px;
            border-style: none;
            padding: 13px 0px;
            background-color: #7db9e8;
            color: white;
            font-size: 18px;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            cursor: pointer;
        }
    }
}




















@media screen and (max-width:1475px){
    .section1{
       .first-item{
        .first{
            width: 330px;
            p{
            font-size: 24px;
            }
           }
           .second{
               @include display-beetwen;
               .one{
                   h1{
                   font-size: 30px;
                   }
                   h2{
                       font-size: 22px;
                   }
               }
            .two{
                @include display-center;
                img{
                    margin-left: 0;
                    width: 85%;
                }
            }
        }
       }
    }
}


@media screen and (max-width:1024px){
    .container{
        max-width: 800px;
    }
    nav{
        padding: 10px 0px;
        transition: all .5s ease;
        .container{
            max-width: 800px;
           .list{
             transition: all .5s ease;
           }
            .header{
                ul{
                    display: none;
                }
                i{
                    display: block;
                }
            }
            
        }
    }
    .section2{
        .second-item{
            .promise{
                width: 80%;
            }
        }
    }
    .section4{
        .second-item{
            .promise{
                width: 80%;
            }
        }
    }
        .section3{
            .thrid-item{
               
                .item-1{
                    width: 80%;
                }
                .item-2{
                    justify-content: space-between;
                   flex-wrap: wrap;
                   .font{
                    display: flex;
                    justify-content: flex-start;
                    width: 50%;
                   margin-top: 20px;
                   }
                }
            }
        }

    
    .section1{
        .first-item{
            align-items: flex-start;
            width: 100%;
            .second{
                width: 100%;
                flex-direction: column;
                gap: 30px;
                .one{
                    width: 100%;
                }
                .two{
                    width: 95%;
                }
            }
        }
    }

    main{
        .js{
            width: 100%;
            justify-content: flex-start;
            flex-wrap: wrap;
            display: flex;
            gap: 30px;
            .js-item{
               width: 30%;
            }
        }
    }
    .section5{
        .end{
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            display: flex;
         
            .finish{
                margin-top: 30px;
               width: 47%;
              
            }
           
        }
    }
}
@media screen and (max-width:768px){
.section1{
    .first-item{
        .first{
            width: 230px;
            padding: 70px 0px;
            p{
            font-size: 17px;
            }
        }
        .second{
            .one{
                width: 100%;
            }
        }
    }
}
main{
    .js{
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        gap: 30px;
        .js-item{
           width: 46%;
        }
    }
}
.section2{
    .second-item{
        .promise{
            width: 100%;
        }
    }
}
.section4{
    .second-item{
        .promise{
            width: 100%;
        }
    }
}
.section3{
    .thrid-item{ 
        .item-1{
            width: 100%;
        }
    }
}
.section5{
    .container{
    .end{
       width: 100%;
    }
    }
}
}
@media screen and (max-width:576px) {
    .section5{
        .end{
            width: 100%;
            .finish{
               width: 100%;
              
            }
           
        }
    }

    .section1{
        .first-item{
            .second{
                .one{
                    width: 100%;
                    .small{
                      flex-direction: column;
                      width: 100%;
                      align-items: flex-start;
                    }
                }
            }
        }
    }

    main{
        .js{
            justify-content: center;
            align-items: center;
            display: flex;
            gap: 30px;
            flex-direction: column;
            .js-item{
               width: 55%;
            }
        }
    }
    .section3{
        .thrid-item{
            .item-2{
               flex-direction: column;
               .font{
                display: flex;
                justify-content: flex-start;
               width: 100%;
               }
            }
        }
    }
}
